<div class="fixed w-full">
    <img src="../../../../assets/photos/backgroundImage.webp" alt="" class=" left-0 w-full  object-cover z-0">
    <div class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-gray-100 rounded-lg p-8 shadow-md z-10 opacity-">
        <h1>About Us</h1>
        <div>
            <h1>BakeHaven Bakery</h1>
            <p>
                Welcome to Bake Haven, where every creation is a delicious masterpiece tailored just for you!
                Established with a passion for baking and a commitment to excellence, Bake Haven has become a local
                favorite for those seeking delightful treats for various occasions.
            </p>
            <h1> Our Story</h1>
            <p>
                At Bake Haven, we believe in the magic of homemade goodness and the joy it brings to every celebration.
                Our journey began with a simple love for baking, and over the years, we have evolved into a haven for
                those with a sweet tooth and an appreciation for the art of baking.
            </p>
        </div>
    </div>
</div>