<!-- <div class="flex flex-col justify-center items-center h-1/2 bg-gray-100">
    <img src="{{ product.imageUrl }}" alt="{{ product.name }}" class="w-1/2  rounded-lg mb-4">
  
    <h2 class="text-2xl font-semibold mb-2">{{ product.name }}</h2>
    <p class="text-lg text-gray-700 mb-4">$<span class="font-bold">{{ product.price }}</span></p>
  
    <button type="button" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-lg shadow focus:outline-none focus:ring-green-500">Order Now</button>
</div> -->

<div class="mt-16">
    <h1 class="flex justify-center">Make your order now </h1>
    <div class="mt-16  grid grid-cols-6 gap-4 gap-x-4 mx-4 " >
        <div *ngFor="let product of products" class="bg-blue-100 p-4 " style="width: 200px; height: 300px;" (click)="orderingProduct(product.name, product.price)">
            <img src="{{product.imageUrl}}" alt="" class="rounded" style="height: 150px;" >
            <h4 class="font-semibold ">{{product.name}}</h4>
            <p class="text-lg text-gray-700 ">Rwf <span>{{product.price}}</span></p>
            <button type="button" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-lg shadow focus:outline-none focus:ring-green-500">Order Now</button>
        </div>
     
    </div>
</div>
  