<nav class=" bg-[#B9ACAC] h-14 fixed w-full ">
    <div class="container mx-auto px-14 py-3 flex justify-between items-center ">
      <a routerLink="/" class="text-white text-xl font-bold">BakeHaven</a>
      <ul class="flex space-x-4">
        <li>       
          <a routerLink=''  class="text-white hover:text-black cursor-pointer">Home</a>
        </li>
        <li >
            <a routerLink="about"  class="text-white hover:text-black cursor-pointer" > About us</a>
            
        </li>

        <li >
          <a  (click)="gotoProducts()"  class="text-white hover:text-black cursor-pointer" > Products</a>
        
      </li>
      <li >
        <a routerLink="/login"  class="text-white hover:text-black cursor-pointer" > Login</a>
        
    </li>
        <li >
            <a routerLink="gallery"  class="text-white hover:text-black cursor-pointer"  > Gallery</a>
            
        </li>
        <li >
            <a routerLink="contact" class="text-white hover:text-black cursor-pointer"  > Contact us</a>
            
        </li>
        <li >
            <a routerLink="signup"  class="text-white hover:text-black cursor-pointer"  > Signup</a>
            
        </li>
      </ul>
    </div>
  </nav>


  