


<div class="mt-16">
    
  <h1 class="flex items-center justify-center font-bold text-xl ">Our products</h1>
  <div class="mr-2">Click here to <button type="button" class="text-blue-400 text-lg" (click)="goToProductPage()">Order</button></div>

 
  <div class="mt-16  grid grid-cols-6 gap-4 gap-x-4 mx-4 " >
    
    <div *ngFor="let product of products" class="bg-blue-100 p-4 " style="width: 200px; height: 250px;" >
        <img src="{{product.imageUrl}}" alt="" class="rounded bg-red-300" style="height: 150px;" >
        <h4 class="font-semibold ">{{product.productName}}</h4>
        <p class="text-lg text-gray-700 ">Rwf <span>{{product.price}}</span></p>
       
    </div>
 
</div>
</div>